<h2>Create Your Drone</h2>
 
 <form action="/drones/create" method="POST">

    <label for="name">Name</label>
    <input type="text" name="name">
        <br>
    <label for="propellers">Propellers</label>
    <input type="text" name="propellers">
        <br>
    <label for="maxSpeed">Speed</label>
    <input type="text" name="maxSpeed">
     <br>
    <button type="submit" class="btn btn-dark">Create</button>
 </form>